<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.safebuilder.dev.main.dao.PlanDAO">
 
 <select id="selectPlanList" resultType="com.safebuilder.dev.main.model.Plan">
 	SELECT
 		`id`
 		, `site_name`
 		, `construct_start_date`
 		, `construct_start_end_date`
 		, `site_m_name`
 		, `site_m_contact`
 		, `site_m_email`
 		, `site_address`
 		, `company_name`
 		, `agent`
 		, `status`
 		, `site_address`
 		, `company_name`
 		, `round`
 		, `guide_date`
 	FROM
 		`plan`
	ORDER BY `id` DESC
 </select>
 
 </mapper>